extends ../src/template
block vars
	- var title ='Сайт портфолио'
	- var classPage ='Page'

block css
	link(rel="stylesheet" type="text/css" href="./css/slick.min.css")
	link(rel="stylesheet" type="text/css" href="./css/animate.min.css")
	link(rel="stylesheet" type='text/css' href="./css/style.css")


block content
	div(class="wrap-content")
		div(class="Content")
			div(class="wrap-header")
				include ../src/modules/Header/Header
			div(class="wrap-screen")
				include ../src/modules/Screen/Screen
				canvas(id="FlyingElements")
			div(class="wrap-skills")
				include ../src/modules/Skills/Skills
			div(class="wrap-examples")
				include ../src/modules/Examples/Examples
			div(class="wrap-costs")
				include ../src/modules/Costs/Costs
			div(class="wrap-footer")
				include  ../src/modules/Footer/Footer
			include ../src/modules/Copyright/Copyright
		div(class="wrap-swipe")
			include ../src/modules/SwipeMenu/SwipeMenu
		include ../src/modules/ButtonGoToTop/ButtonGoToTop
block scripts
	script(src="./js/jquery.min.js")
	script(src="./js/slick.min.js")
	script(src="./js/wow.min.js")
	script(src="./js/parallax.min.js")
	script(src="./js/scripts.js")
	script(src="./js/common.js")

