- var classMenu = 'Menu Header-Menu'
- var PhoneClass = 'Phone Header-Phone'
- var PhoneIconClass = 'fas fa-phone Phone-icon'
- var buttonDefaultText = 'Заказать звонок'
- var ButtonDefaultClass = 'ButtonDefault Header-ButtonDefault'
- var phoneText = '+7 (499) 995-77-55';

header(class="Header container")
		include ../Menu/Menu
		div(class="ContactUs Header-ContactUs")
			include ../Phone/Phone
			include ../ButtonDefault/ButtonDefault