.Menu {
	display : flex;
	
	&-link {
		font-size     : 16px;
		color         : #1f1f24;
		border-bottom : 1px solid transparent;
		transition: All .2s linear;
		
		&:hover {
			color         : #fc557c;
			border-bottom : 1px solid #fc557c;
		}
		
		&:focus {
			outline        : 1px solid #fc557c;
			outline-offset : 10px;
		}
		
		&_active {
			color         : #fc557c;
			border-bottom : 1px solid #fc557c;
		}
	}
}