include ../../mixins
- var ButtonBurgerClass = "Header-ButtonBurger"

nav(class=classMenu)
	if classMenu === 'Menu Header-Menu'
		include ../ButtonBurger/ButtonBurger
	ul(class="Menu-list")
		li(class="Menu-item")
			a(href="#" class="Menu-link" data-section = "Skills") Услуги
		li(class="Menu-item")
			a(href="#" class="Menu-link" data-section = "Examples") Портфолио
		li(class="Menu-item")
			a(href="#" class="Menu-link" data-section = "Costs") Стоимость