@import "../../../vendors/smart-grid/smart-grid";

.Control {
	display          : flex;
	align-items      : center;
	justify-content  : center;
	position         : absolute;
	top              : 35%;
	width            : 60px;
	height           : 60px;
	border-radius    : 50%;
	background-color : #fff;
	font-size        : 30px;
	fill             : #8993ad;
	transition       : all .3s linear;
	cursor           : pointer;
	box-shadow       : 0 0 20px 0 #00000014;
	transform        : translateY(-40%);
	border           : 0;
	
	@include lg(display, none);
	
	&-icon {
		width  : 14px;
		height : 24px;
	}
	
	&:hover {
		background-color : #8993ad;
		fill             : #fff;
	}
	
	&:active {
		background-color : #69738d;
		fill             : #fff;
	}
	
	&_prev {
		left : -1%;
	}
	
	&_next {
		right : -1%;
		
		.Control-icon {
			transform : rotateY(180deg);
		}
	}
}