div(class="Screen container")
	section(class="Screen-section")
		h1(class="Screen-title wow slideInLeft" data-wow-duration= "2s")  Дмитрий Алексеев
		h2(class="Screen-subTitle wow bounceInLeft" data-wow-duration= "3s") Frontend-разработчик и веб-верстальщик
		- var ButtonPrimaryClass = 'ButtonPrimary Screen-ButtonPrimary wow bounceInUp center'
		- var ButtonPrimaryText = 'Узнать больше'
		include ../ButtonPrimary/ButtonPrimary
	img(src="img/content/portrait.png" class="Screen-image" alt="Фото разработчика")