div(class="Screen container")
	section(class="Screen-section")
		h1(class="Screen-title")  Дмитрий Алексеев
		h2(class="Screen-subTitle") Frontend-разработчик и веб-верстальщик
		- var ButtonPrimaryClass = 'ButtonPrimary Screen-ButtonPrimary'
		- var ButtonPrimaryText = 'Узнать больше'
		include ../ButtonPrimary/ButtonPrimary
	img(src="img/content/portrait.png" class="Screen-image Relation-content")