@import "../../../vendors/smart-grid/smart-grid";

.SwitchImages {
	display         : flex;
	justify-content : center;
	margin-bottom   : 100px;
	@include sm-block() {
		margin-bottom : 50px;
	}
	
	.slick-active > button {
		background-color : #ff4e2e;
		border           : 0;
	}
	
	& li {
		display         : flex;
		align-items     : center;
		justify-content : center;
		width           : 18px;
		height          : 18px;
		margin-right    : 30px;
		cursor          : pointer;
		overflow        : hidden;
		@include xs-block() {
			width  : 10px;
			height : 10px;
		}
	}
	
	& li button {
		display          : flex;
		min-width        : 100%;
		min-height       : 100%;
		background-color : #ebebeb;
		border           : 0;
		border-radius    : 50%;
		transition       : all .3s linear;
	}
	
	& li:last-child button {
		margin-right : 0;
	}
}