@import "vars";
@import "../vendors/smart-grid/smart-grid";
@import "debug";

@include reset();

*,
*:after,
*:before {
	box-sizing : border-box;
}

.container {
	@include wrapper();
}

.Page {
	position    : relative;
	font-size   : 100%;
	font-family : $Font-Family;
}

a {
	text-decoration : none;
}

.wrap-header,
.wrap-screen,
.wrap-examples {
	overflow         : hidden;
	background-color : $bg-color;
}

.wrap-screen {
	background      : #fbfbfb url("../img/content/figure.png") no-repeat right bottom;
	background-size : contain;
	position        : relative;
	z-index         : 999;
	@include sm-block() {
		background-size     : auto;
		background-position : 50% 12%;
	}
	@include xs-block() {
		background-size     : auto;
		background-position : 50% 24%;
	}
}

.wrap-skills {
	overflow : hidden;
}

.wrap-costs {
	background : linear-gradient(30deg, #ff8f5a, #ff2f96);
	position   : relative;
}

.wrap-content {
	position   : relative;
	overflow-x : hidden;
}

.Content {
	transition : .6s;
	position   : relative;
	z-index    : 0;
	filter: brightness(1);
	
	
	&_active {
		filter: brightness(.8);
		transform : translateX(30%);
		@include xs(transform, translateX(50%))
	}
}
