//Colors Theme
$bg-gradient-deg : 13deg;
$bg-gradient-first-color : #ff8f5a;
$bg-gradient-second-color : #ff2f96;
$copyright-bg-color : #31293c;
$bg-color : #fbfbfb;
$textColor : #8993ad;
$btn-primary-bg-color : #ff4e2e;
$btn-default-bg-color : #ffffff;

//Fonts
$Font-Family : Roboto, sans-serif