section(class="Skills container" id="Skills")
	h2(class="Skills-heading") Что я делаю
	div(class="Skills-items")
		div(class='Skills-Item')
			img(src="./img/content/coding-icon.png" class='Item-image' alt="")
			div(class='Item-description')='Вёрстка лендинг–страниц и сайтов любой сложности'
		div(class='Skills-Item')
			img(src="./img/content/responsive-icon.png" class='Item-image' alt="")
			div(class='Item-description')='Адаптивная вёрстка под все браузеры и устройства'
		div(class='Skills-Item')
			img(src="./img/content/programming-icon.png" class='Item-image' alt="")
			div(class='Item-description')='Frontend–разработка и программирование'
		div(class='Skills-Item')
			img(src="./img/content/tools-and-utensils-icon.png" class='Item-image' alt="")
			div(class='Item-description')='Исправление и доработка существующей вёрстки'
	- var ButtonPrimaryText = 'Узнать стоимость'
	- var ButtonPrimaryClass = 'ButtonPrimary Skills-ButtonPrimary'
	include ../ButtonPrimary/ButtonPrimary