section(class="Costs container" id="Costs")
	div(class="Costs-inner")
		h2(class="Costs-title")
			|Адаптивная вёрстка под все устройства  и&nbsp;браузеры&nbsp;от 1000 рублей всего за&nbsp;4&nbsp;часа.<sup>*</sup>
		p(class="Costs-subTitle")
			|Срок и стоимость могут отличаться от заявленных и рассчитываются  индивидуально,в&nbsp;зависимости от сложности задач.