include ../../mixins
div(class='Socials')
	div(class="Socials-Icon")
		+icon('vk')
	div(class="Socials-Icon")
		+icon('facebook')
	div(class="Socials-Icon")
		+icon('twitter')
	div(class="Socials-Icon")
		+icon('instagram')
