section(class="Examples container" id="Examples")
	h2(class="Examples-heading wow bounceInUp center") Примеры моих работ
	div(class="Examples-items")
		div(class="Slick-carousel")
			div(class='Item Examples-Item')
				div(class="Item-inner")
					img(src="./img/content/Image_1.png" class='Item-image' alt="Превью сайта психолога Веры Антоновой")
				div(class='Item-description')='Сайт психолога Веры Антоновой'

			div(class='Item Examples-Item Examples-Item_double')
				div(class="Item-inner")
					img(src="./img/content/Image_2.png" class='Item-image' alt="Превью сайта магазина 'детской одежды'")
				div(class='Item-description')='Сайт магазина детской одежды'

			div(class='Item Examples-Item')
				div(class="Item-inner")
					img(src="./img/content/Image_3.png" class='Item-image' alt="Превью сайта магазина 'Рыболов'")
				div(class='Item-description')='Сайт магазина «Рыболов»'
			div(class='Item Examples-Item')
				div(class="Item-inner")
					img(src="./img/content/Image_3.png" class='Item-image' alt="Превью сайта магазина 'Рыболов'")
				div(class='Item-description')='Сайт магазина «Рыболов»'
		include ../Control/Control
	- var ButtonPrimaryText = 'Заказать проект'
	- var ButtonPrimaryClass = 'ButtonPrimary Examples-ButtonPrimary wow bounceInUp center'
	include ../ButtonPrimary/ButtonPrimary