- var classMenu = "Menu Swipe-Menu"
- var ButtonBurgerClass = "Swipe-ButtonBurger ButtonBurger_active"

aside(class="Swipe")
	include ../ButtonBurger/ButtonBurger
	div(class="Swipe-photo")
	include ../Menu/Menu